#u2074
{
	-pie-box-shadow: 0px 7px 7px #BFBFBF;
	box-shadow: 0px 7px 7px rgba(127,127,127,0.5);
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
}

#u205,#u207,#u176,#u92,#u93
{
	background-color: transparent;
	position: relative;
}

#u94-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FF0000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u93:hover #u94-4 p,#u93:hover #u94-4 span
{
	color: #6500F7;
	visibility: inherit;
}

#u155,#u156
{
	background-color: transparent;
	position: relative;
}

#u158-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FF0000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u156:hover #u158-4 p,#u156:hover #u158-4 span
{
	color: #6500F7;
	visibility: inherit;
}

#u106,#u107
{
	background-color: transparent;
	position: relative;
}

#u109-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FF0000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u107:hover #u109-4 p,#u107:hover #u109-4 span
{
	color: #6500F7;
	visibility: inherit;
}

#u113,#u151
{
	background-color: transparent;
	position: relative;
}

#u152-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FF0000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u151:hover #u152-4 p,#u151:hover #u152-4 span
{
	color: #6500F7;
	visibility: inherit;
}

#u162,#u163
{
	background-color: transparent;
	position: relative;
}

#u165-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FF0000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u163:hover #u165-4 p,#u163:hover #u165-4 span
{
	color: #6500F7;
	visibility: inherit;
}

#u99,#u102
{
	background-color: transparent;
	position: relative;
}

#u105-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FF0000;
	text-align: center;
	font-size: 17px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u102:hover #u105-4 p,#u102:hover #u105-4 span
{
	color: #6500F7;
	visibility: inherit;
}

#u93.MuseMenuActive #u94-4 p,#u93.MuseMenuActive #u94-4 span,#u156.MuseMenuActive #u158-4 p,#u156.MuseMenuActive #u158-4 span,#u107.MuseMenuActive #u109-4 p,#u107.MuseMenuActive #u109-4 span,#u151.MuseMenuActive #u152-4 p,#u151.MuseMenuActive #u152-4 span,#u163.MuseMenuActive #u165-4 p,#u163.MuseMenuActive #u165-4 span,#u102.MuseMenuActive #u105-4 p,#u102.MuseMenuActive #u105-4 span
{
	color: #6500F7;
	visibility: inherit;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu278
{
	border-style: none;
	border-color: transparent;
	background-color: #9052AF;
	position: relative;
}

#u301
{
	background-color: #9052AF;
	position: relative;
}

#u304-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u369
{
	background-color: #9052AF;
	position: relative;
}

#u372-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u390
{
	background-color: #9052AF;
	position: relative;
}

#u393-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u415
{
	background-color: #9052AF;
	position: relative;
}

#u418-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u438
{
	background-color: #9052AF;
	position: relative;
}

#u441-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u461
{
	background-color: #9052AF;
	position: relative;
}

#u301.MuseMenuActive,#u369.MuseMenuActive,#u390.MuseMenuActive,#u415.MuseMenuActive,#u438.MuseMenuActive,#u461.MuseMenuActive
{
	background-color: #38A2FF;
}

#u464-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u196-4
{
	background-color: transparent;
	line-height: 34px;
	color: #2E3192;
	font-size: 28px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	position: relative;
}

#u10565
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
}

#u14032-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14033-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14034-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14035-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14036-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14037-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14108-15
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14108
{
	font-weight: 700;
}

#u14108-2,#u14108-4
{
	font-size: 16px;
	line-height: 19px;
}

#u14041-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14042-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14043-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14044-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14045-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14046-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14038-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14039-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14040-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u94,#u158,#u109,#u152,#u165,#u105,#u14032-4:hover p,#u14033-4:hover p,#u14034-4:hover p,#u14035-4:hover p,#u14036-4:hover p,#u14037-4:hover p,#u14041-4:hover p,#u14042-4:hover p,#u14043-4:hover p,#u14044-4:hover p,#u14045-4:hover p,#u14046-4:hover p,#u14038-4:hover p,#u14039-4:hover p,#u14040-4:hover p
{
	text-decoration: underline;
}

#menuu91,#u21116,#u10576,#u10574
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u300,#u368,#u387,#u412,#u435,#u460,#u13922,#u14566,#u14572,#u14578
{
	background-color: transparent;
	position: relative;
}

#u10573
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u10578-4
{
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

